@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700,400");

:root {
  --primary-color: #E5EAF0;
  --secondary-color: #FFFFFF;
  --tertiary-color: #F2F4FF;
  --text-primary: #292E5D;
  --text-secondary: #0855E7;
  --button-color: #001743;
  --check-button: #36AE7C;
  --edit-button: #0855E7;
  --trash-button: #EB5353;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
}

body,
input,
button {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

input,
button {
  font-size: 16px;
}

.head_bar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  color: var(--text-primary);
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;

}

.input_section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.input_section>h2 {
  text-align: center;
  color: var(--text-primary);
}

.input_section>form>.input {
  margin: 10px 0;
}

.input_section>form>.input>label {
  color: var(--text-primary);
  font-weight: bold;
}

.input_section>form>.input>input {
  background-color: var(--tertiary-color);
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 8px;
}

.input_section>form>.input_inline>label {
  color: var(--text-primary);
  font-weight: bold;
  margin-right: 10px;
}


.input_section>form>button {
  background-color: var(--button-color);
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.input_section>form>button>span {
  font-weight: bold;
}

.input_section>form>.input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.search_section {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
}

.search_section>h2 {
  color: var(--text-primary);
  margin-bottom: 14px;
}

.search_section>form {
  padding: 2px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section>form>label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.search_section>form>input {
  background-color: var(--tertiary-color);
  border: 0;
  padding: 10px;
  border-radius: 5px;
}

.search_section>form>button {
  background-color: var(--button-color);
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf {
  margin: 16px 0 0 0;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
}

.book_shelf h2 {
  color: var(--text-primary);
  margin-bottom: 14px;
}

.book_list {
  padding: 2px;
}

.book_item {
  background-color: var(--tertiary-color);
  padding: 8px 16px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.book_info {
  flex: 1;
}

.book_info>p {
  color: var(--text-secondary)
}

h3 {
  font-size: 1.8rem;
  color: var(--text-secondary);
  margin: 4px 0;
}

p {
  margin: 4px 0;
}

.book_list>.book_item>.action {
  display: flex;
  gap: 5px;
}

button {
  border: 0;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.check_button {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-left: 4px;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--check-button);
}

.edit_button {
  width: 40px;
  height: 40px;
  margin-left: 4px;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--edit-button);
}

.trash_button {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-left: 4px;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--trash-button);
}

.check_button>button {
  width: 20px;
  height: 20px;
  background: url('../assets/img/check.svg');
  background-size: contain;
  border: none;
}

.edit_button>button {
  width: 20px;
  height: 20px;
  background: url('../assets/img/edit-2.svg');
  background-size: contain;
  translate: 10px 9px;
  border: none;
}

.trash_button>button {
  width: 20px;
  height: 20px;
  background: url('../assets/img/trash.svg');
  background-size: contain;
  align-items: center;
  border: none;
}